.pointer {
	cursor: pointer;
}

#userLogin, #userPassword {
	min-width: 200px;
	width: 100%;
	padding: 10px;
	box-shadow: inset 0 1px 5px rgba(0,0,0,0.2);
	border: 1px solid black;
	background: url(../img/user.png) 10px no-repeat;
	padding-left: 40px;
}

#userPassword {
	background: url(../img/block.png) 10px no-repeat;
}

.bt1 {
	min-width: 200px;
	width: 100%;
}

.bt2 {
	text-align: center;
	display: inline-block;
	border: 1px solid black;
	background-color: #308968;
}

.bt3{
	min-width: 200px;
	width: 100%;
}

.bt4 {
	min-width: 200px;
	width: 100%;
	border: 1px solid black;
	background-color: #308968;
}

.bt5 {
	min-width: 30px;
	border: 1px solid black;
	background-color: #308968;
}

h1 {
	margin-left: 15px;
}

.btndelete {
	border: 1px solid black;
	background: #ff6666;
}

.btnedit {
	border: 1px solid black;
	background: #308968;
}

.adaptive {
	display: block;
	max-width: 100%;
	height: auto;
}

.typeOpacity{
	background: rgba(205, 214, 219, 0.3);
}

.cardOpacity{
	background: rgba(205, 214, 219, 0.3);
}

body {
	background-color: #efefef;
	height: 100vh;
	background-size: cover;
}
